html
   include partials/head.jade
    
  body
  include partials/nav.jade
  include partials/headline.jade
    div(align='center')
      img.img.responsive(src='http://www.calgary.ca/CA/city-manager/scripts/about-us/webparts/images/ourHistory_retina.jpg', alt='main')
include partials/jsscripts.jade